@model EmpreendaVc.Domain.Clube

@*<div id="plantel-menu" class="caixa">
    <p>
        <a href="@Url.Action("Index", "Leilao", new { iddivisao = Model.Divisao.Id })">Leilão</a><br />
        <a href="@Url.Action("Classificacao", "Clube", new { iddivisao = Model.Divisao.Id })">Classificação</a><br />
        <a href="@Url.Action("Calendario", "Clube")">Calendário</a><br />
        <a href="@Url.Action("Resultados", "Clube", new { divisao = Model.Divisao.Id })">Resultados</a><br />
        <a href="@Url.Action("Historico", "Clube", new { divisao = Model.Divisao.Id })">Histórico</a><br />
        <a href="@Url.Action("PedirDemissao", "Clube")">Pedir Demissao</a><br />
    </p>
</div>*@

<div id="plantel-menu">
    <a class="botao" href="@Url.Action("Index", "Leilao")">Leilão</a><br />
    <a class="botao" href="@Url.Action("Classificacao", "Clube", new { iddivisao = Model.Divisao.Id })">Classificação</a><br />
    <a class="botao" href="@Url.Action("Calendario", "Clube")">Calendário</a><br />
    <a class="botao" href="@Url.Action("Resultados", "Clube", new { divisao = Model.Divisao.Id })">Resultados</a><br />
    <a class="botao" href="@Url.Action("Historico", "Clube", new { divisao = Model.Divisao.Id })">Histórico</a><br />
    <a class="botao" href="@Url.Action("PedirDemissao", "Clube")">Pedir Demissao</a><br />
</div>