@model EmpreendaVc.Domain.Usuario

<ul>
    @if (Model == null)
    {
        <li> <a href="@Url.Action("Index", "Home")">Home</a></li>
        <li> <a href="@Url.Action("Cadastro", "Conta")">Cadastrar</a></li>
    }
    <li> <a href="@Url.Action("Regras", "Home")">Regras</a></li>
    <li> <a href="@Url.Action("Contato", "Home")">Contato</a></li>
    @if (Model != null)
    {
        <li><a href="@Url.Action("Index", "Conta")">INÍCIO</a></li>
        <li><a href="@Url.Action("Plantel", "Clube")">PLANTEL</a></li>
        <li>
            <a href="@Url.Action("UsuarioOferta", "Conta")">PROPOSTAS 
            @if ((int)ViewBag.Propostas > 0)
            {
                @: (<span style='color: Red;'>@((int)ViewBag.Propostas)</span>) 
            } 
            </a>                                                                                                                                                                                    
        </li>
        <li><a href="@Url.Action("Sair", "Conta")">Sair</a></li>
    }
</ul>
