@model EmpreendaVc.Domain.Jogador
@{
    var clube = (EmpreendaVc.Domain.Clube)ViewBag.Clube;    
}

@if (!Model.Temporario)
{
    <div id="plantel-menu">
        @if ((Model.Clube != null && Model.Clube.Id != clube.Id) || Model.Clube == null)
        {
            
            if (Model.JogadorLeilaos.Where(x => x.Estagio < 2).Count() > 0)
            {
                var frase = "Fazer Proposta no Leilão";
                var leilao = Model.JogadorLeilaos.FirstOrDefault(x => x.Estagio < 2);

                if (leilao.LeilaoOfertas.Where(y => y.Clube.Id == clube.Id).Count() > 0)
                {
                    frase = "Alterar Proposta";
                }
                <a class="botao" href="@Url.Action("JogadorOferta", "Leilao", new { id = leilao.Id })">@frase</a><br />
                
            }
            else {
                if (Model.Clube != null)
                {
                    <a class="botao" href="@Url.Action("JogadorPedido", "Leilao", new { id = Model.Id, tipo = 1 })">Pedir Leilão</a><br />
                    @*<a class="botao" href="@Url.Action("PedirRelatorio", "Jogador", new { id = Model.Id })">Pedir Relatório</a><br />*@
                }
                if (Model.Clube == null)
                {
                    <a class="botao" href="@Url.Action("JogadorOferta", "Jogador", new { id = Model.Id, tipo = 2 })">Fazer proposta</a><br />
                    @*<a class="botao" href="@Url.Action("ProporTeste", "Jogador", new { id = Model.Id })">Propor Teste</a><br />*@
                }
            }
        }
        else
        {
            <a class="botao" href="@Url.Action("JogadorRenovar", "Jogador", new { id = Model.Id })">Renovar Contrato</a><br />
            <a class="botao" href="@Url.Action("BotarLeilao", "Leilao", new { id = Model.Id })">Botar em Leilão</a><br />
            <a class="botao" href="@Url.Action("JogadorDispensar", "Jogador", new { id = Model.Id })">Dispensar</a><br />
        }
    </div>
}