@model EmpreendaVc.Domain.Jogador
@{
    var clube = (EmpreendaVc.Domain.Clube)ViewBag.Clube;    
}

@if (!Model.Temporario)
{
    <div id="plantel-menu">
        @if ((Model.Clube != null && Model.Clube.Id != clube.Id) || Model.Clube == null)
        {
            var frase = "Fazer Proposta";
            if (Model.JogadorOfertas.Where(x => x.Clube.Id == clube.Id && x.Estagio != 0 && x.Estagio != 3).Count() > 0)
            {
                frase = "Alterar Proposta"; 
            }
            if (Model.Clube != null)
            {
                <a class="botao" href="@Url.Action("JogadorOferta", "Jogador", new { id = Model.Id, tipo = 1 })">@frase</a><br />
                <a class="botao" href="@Url.Action("PedirRelatorio", "Jogador", new { id = Model.Id })">Pedir Relatório</a><br />
            }
            if (Model.Clube == null)
            {
                <a class="botao" href="@Url.Action("JogadorOferta", "Jogador", new { id = Model.Id, tipo = 2 })">@frase</a><br />
                <a class="botao" href="@Url.Action("ProporTeste", "Jogador", new { id = Model.Id })">Propor Teste</a><br />
            }
        }
        else
        {
            <a class="botao" href="@Url.Action("JogadorRenovar", "Jogador", new { id = Model.Id })">Renovar Contrato</a><br />
            <a class="botao" href="@Url.Action("JogadorDispensar", "Jogador", new { id = Model.Id })">Dispensar</a><br />
        }
    </div>
}