@model EmpreendaVc.Domain.Usuario
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Olá @Model.NomeCompleto!</h2>

@{ Html.RenderAction("Index", "Mensagem"); }

<div class="caixa">
    <h1>Reputação Global</h1>
    <div class="porcentagem">
        <div class="porcentagem-valor">@Model.ReputacaoGeral %</div>
        <div class="porcentagem-interior" style="width: @(Model.ReputacaoGeral)%;"></div>
    </div>
</div>

@if (Model.Clube != null)
{
    <div class="caixa">
        <h1>Reputação no @Model.Clube.Nome</h1>
        <div class="porcentagem">
            <div class="porcentagem-valor">@Model.Reputacao %</div>
            <div class="porcentagem-interior" style="width: @(Model.Reputacao)%;"></div>
        </div>
    </div>
}