@model IEnumerable<EmpreendaVc.Domain.UsuarioOferta>
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Propostas</h2>
@if (Model != null)
{
    foreach (var item in Model)
    {
        var clube = item.Clube;
    <div class="caixa">
        <h1>@clube.Nome (@clube.Divisao.Nome)</h1>
        Dinheiro: $@clube.Dinheiro.ToString("N2")<br />
        Estádio: @clube.Estadio.ToString("N0")<br />
        Sócios: @clube.Socios.ToString("N0")<br />
        <div style="text-align: right; height: 30px;">
            <a class="submit" href="@Url.Action("UsuarioOfertaResposta", new { id = item.Id, resposta = true })">ACEITAR</a>
            <a class="submit" href="@Url.Action("UsuarioOfertaResposta", new { id = item.Id, resposta = false })">REJEITAR</a>
        </div>
    </div>
    }
}
else
{
    @: Você não possui propostas.
}