@model EmpreendaVc.Domain.Divisao
@{
    var lstdivisao = (List<EmpreendaVc.Domain.Divisao>)ViewBag.lstDivisao;    
}
<div id="classificacao-lista">
    <ul>
        <li><a href="@Url.Action("Taca", "Clube")">TAÇA</a></li>
        @foreach (var divisao in lstdivisao)
        {
            if (divisao.Id == Model.Id)
            {
                <li><b>@divisao.Nome</b></li>
            }
            else
            {
                <li><a href="@Url.Action("Classificacao", "Clube", new { iddivisao = divisao.Id })" >@divisao.Nome</a></li>
            }
        }        
    </ul>
</div>

<div id="classificacao-tabela">
    <table>
        <tr>
            <th colspan="2">Clube</th>
            <th>P</th>
            <th>J</th>
            <th>V</th>
            <th>E</th>
            <th>D</th>
            <th>GP</th>
            <th>GC</th>
            <th>SG</th>
            <th>%</th>
        </tr>
        @foreach (var item in Model.DivisaoTabela.OrderByDescending(x => x.Pontos))
        {
            <tr>
                <td>@item.Posicao</td>
                <td>@item.Clube.Nome</td>
                <td>@item.Pontos</td>
                <td>@item.J</td>
                <td>@item.V</td>
                <td>@item.E</td>
                <td>@item.D</td>
                <td>@item.GP</td>
                <td>@item.GC</td>
                <td>@item.Saldo</td>
                <td>@item.Aproveitamento.ToString("N2")</td>
            </tr>
        }
    </table>
</div>
