@model EmpreendaVc.Domain.Clube
@using EmpreendaVc.Web.Mvc.Util
@using MvcContrib
@using MvcContrib.FluentHtml
@{
    ViewBag.Title = "Plantel";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<script type="text/javascript">
    var idelemento = '';

    $(function () {
        $(".select-escalacao").change(function () {
            idelemento = $(this).attr('id');
            var id = idelemento.replace('F', '');

            if ($(this).val() == '') {
                escala(id, "0");
            }
            else {
                escala(id, $(this).val());
            }

            $('#loading').fadeIn();
            $('.select-escalacao > option').remove();
            $('.select-escalacao').append("<option value='' >--</option>");
        });

        $('#plantel-visualizacao').change(function () {
            if ($(this).val() == '1')
            {
                $('.sel').show();
                $('.con').hide();
                $('.est').hide();
            }
            else if ($(this).val() == '2') {
                $('.sel').hide();
                $('.con').show();
                $('.est').hide();
            }
            else if ($(this).val() == '3') {
                $('.sel').hide();
                $('.con').hide();
                $('.est').show();
            }
        });

        $("#Ingresso").change(function () {
            ingresso($(this).val());
        });
    });

    function escala(id, idescalacao) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("EscalaJogador", "Clube")',
            data: { id: id, idescalacao: idescalacao },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (json) {
                $.each(eval(json), function () {
                    if (this.JogadorId != "0") {
                        $('#e' + this.Id).attr('class', 'posicao-preenchido');
                        $('#F' + this.JogadorId).append("<option value='" + this.Id + "' selected='true'>" + this.Posicao + "</option>");
                    }
                    else {
                        $('#e' + this.Id).attr('class', 'posicao-vazio');
                        $('.select-escalacao').append("<option value='" + this.Id + "'>" + this.Posicao + "</option>");
                    }
                });
                $('#loading').fadeOut();
            }
        });
    }

    function ingresso(val) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("AlteraIngresso", "Clube")',
            data: { valor: val },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result != "ok") {
                    alert('Erro ao tentar mudar a situação do jogador.');
                }
            }
        });
    }
</script>

<h2>
    @Model.Nome
    <div id="plantel-visualizar">
        <select id="plantel-visualizacao" >
            <option value="1" selected="selected" >SELEÇÃO</option>
            <option value="2" >CONTRATO</option>
            <option value="3" >ESTATÍSTICAS</option>
        </select>
    </div>
</h2>
@{ Html.RenderAction("Index", "Mensagem"); }

<div class="clear"></div>

<div id="left">
    <div id="plantel-posicao">
        @foreach (var escalacao in Model.Escalacao)
        {
            var id = "e" + escalacao.Id;
            var classe = "posicao-vazio";
            if (escalacao.Jogador != null)
            {
                classe = "posicao-preenchido";
            }
            var style = "";
            if (escalacao.Id == Model.Escalacao.Last().Id)
            {
                style = "margin-right:0px;";
            }
            <div id="@id" class="@classe" title="@(escalacao.Jogador != null ? escalacao.Jogador.Nome : "")" style="@style">@Util.RetornaPosicao(escalacao.Posicao)</div>
        }    
    </div>
    <div id="plantel-caixa">
        <table class="classificacao" cellpadding="0" cellspacing="0">
            <tr>
                <th width="7%"></th>
                <th width="25%">JOGADOR</th>
                <th width="5%" class="sel">P</th>
                <th width="14%" class="sel">NOTA MÉDIA</th>
                <th width="14%" class="sel">ÚLT. NOTA</th>
                <th width="14%" class="sel">NOTA TREINO</th>
                <th width="14%" class="sel">ÚLT. TREINO</th>
                <th width="7%" class="sel">C%</th>
                <th width="34%" class="con">SALÁRIO</th>
                <th width="34%" class="con">CONTRATO</th>
                <th width="23%" class="est">NOTA MÉDIA</th>
                <th width="22%" class="est">JOGOS</th>
                <th width="22%" class="est">GOLS</th>
            </tr>
            @foreach (var jog in Model.Jogadores.OrderBy(x => x.Posicao).ThenByDescending(x => x.Nome))
            {
                var classtemp = "";
                if (jog.Temporario)
                { classtemp = "class=tr-temporario"; }
                
                <tr @classtemp>
                    <td>
                        @if (jog.Lesionado == 0)
                        {
                            var selected = Model.Escalacao.Count > 0 ? Model.Escalacao.Where(x => x.Jogador != null && x.Jogador.Id == jog.Id).Count() > 0 ? Model.Escalacao.FirstOrDefault(x => x.Jogador != null && x.Jogador.Id == jog.Id).Id.ToString() : "" : "";
                            var lstEscalacao = selected != "" ? Model.Escalacao.Where(x => x.Jogador == null || (x.Jogador != null && x.Jogador.Id == jog.Id)).ToList() : Model.Escalacao.Where(x => x.Jogador == null).ToList();
                            
                            @this.Select("F" + jog.Id).Options(Util.RetornaPosicaoEscalacao(lstEscalacao)).FirstOption("--").Selected(selected).Class("select-escalacao")
                        }
                        else
                        {
                            <a class="lesionado" title="Lesionado por @jog.Lesionado dia(s)"></a>                     
                        }
                    </td>
                    <td style="text-align: left;"><a href="@Url.Action("Index", "Jogador", new { id = jog.Id })">@jog.Nome.ToUpper()</a></td>
                    <td class="sel">@Util.RetornaPosicao(jog.Posicao)</td>
                    <td class="sel">@(jog.NotaMedia > 0 ? jog.NotaMedia.ToString("N2") : "0,00")</td>
                    <td class="sel">@(jog.NotaUlt > 0 ? jog.NotaUlt.ToString("N2") : "0,00")</td>
                    <td class="sel">@(jog.TreinoMedia > 0 ? jog.TreinoMedia.ToString("N2") : "0,00")</td>
                    <td class="sel">@(jog.TreinoUlt > 0 ? jog.TreinoUlt.ToString("N2") : "0,00")</td>
                    <td class="sel">@(jog.Lesionado == 0 ? jog.Condicao + "%" : "-")</td>
                    <td class="con">$@jog.Salario.ToString("N2")</td>
                    <td class="con">@jog.Contrato ano(s)</td>
                    <td class="est">@(jog.NotaMedia > 0 ? jog.NotaMedia.ToString("N2") : "0,00")</td>
                    <td class="est">@jog.Jogos</td>
                    <td class="est">@(jog.Gols.Where(x => x.Clube.Id == Model.Id).Count())</td>
                </tr>
            }
        </table>
    </div>


    <div id="plantel-classificacao">
        @{ Html.RenderAction("ClassificacaoClube", new { iddivisao = Model.Divisao.Id }); }

    </div>
</div>

<div id="right">
    <div id="plantel-dados" class="caixa">
        <h1>@Model.Nome</h1>
        <p>
            @if (Model.Usuario != null)
            {
                @:Usuário: @Model.Usuario.NomeCompleto<br />
            }
            Estádio: @Model.Estadio.ToString("N0")<br />
            Preço do Ingresso: @this.Select("Ingresso").Options(Util.RetornaListaIngresso()).Selected(Model.Ingresso > 0 ? Model.Ingresso.ToString("N0") : "")<br />
            Sócios: @Model.Socios.ToString("N0")
        </p>
    </div>

    <div id="plantel-formacao" class="caixa">
        @{ Html.RenderPartial("_Formacao", Model); }
    </div>

    @{ Html.RenderAction("_Menu", "Clube"); }

    <div id="plantel-financas" class="caixa">
        <h1>FINANÇAS</h1>
        @{ var salarios = Model.Jogadores.Sum(x => x.Salario);
           var socios = Model.Socios * 30;
           var comissao = Model.Usuario != null ? Model.Usuario.Staffs.Sum(x => x.Salario) : 0;
           decimal renda = 0;

           if (Model.Partidas.Where(x => x.Realizada).Count() > 0)
           {
               var ultimapartida = Model.Partidas.Where(x => x.Realizada).Last();
               if (ultimapartida.Clube1.Id == Model.Id)
               {
                   renda = ultimapartida.Publico * Model.Ingresso;
               }
           }

           var previsto = Model.Dinheiro + (socios - (salarios + comissao));
        }
        <p>
            Dinheiro em caixa: $@Model.Dinheiro.ToString("N2")
        </p>
        <p>
            Salários: $@salarios.ToString("N2")<br />
            Sócios: $@socios.ToString("N2")<br />
            Comissão Técnica: $@comissao.ToString("N2")
        </p>
        <p>
            Renda última partida: $@renda.ToString("N2")
        </p>
        <p>
            Dinheiro em caixa previsto: $@previsto.ToString("N2")
        </p>
    </div>

    <div id="plantel-proximo" class="caixa">
        <h1>PRÓXIMA PARTIDA</h1>
        @if (Model.Partidas.Where(x => !x.Realizada).Count() > 0)
        {
            var partida = Model.Partidas.Where(x => !x.Realizada).First();
            <p>
                @if (partida.Clube1.Id == Model.Id)
                {
                    @: @partida.Clube2.Nome (CASA)
                }
                else
                {
                    @: @partida.Clube1.Nome (FORA)
                }
            </p>
            <p>
                @if (partida.Tipo == "DIVISAO")
                {
                    @: @(partida.Rodada)ª Rodada (@Model.Divisao.Nome)
                }
                else if (partida.Tipo == "TACA")
                {
                    @: Taça (@(partida.Mao)ª Partida)<br />
                    if (partida.Mao == 2)
                    {
                        var primeiramao = Model.Partidas.Where(x => x.Realizada && x.Rodada == partida.Rodada && x.Mao == 1).Last();

                        if (primeiramao != null)
                        {
                            if (primeiramao.Clube1.Id == Model.Id)
                            {
                                @: 1º partida: @primeiramao.Gol1 x @primeiramao.Gol2
                            }
                            else
                            {
                                @: 1º partida: @primeiramao.Gol2 x @primeiramao.Gol1
                            }
                        }
                    }
                }
            </p>
        }
    </div>
</div>

