@model IEnumerable<EmpreendaVc.Domain.Partida>
@using EmpreendaVc.Web.Mvc.Util
@{
    ViewBag.Title = "Plantel";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var clube = (EmpreendaVc.Domain.Clube)ViewBag.Clube;
    var competicao = ViewBag.Competicao.ToString();
    var divisao = (int)ViewBag.Divisao;
    var rodada = ViewBag.Rodada.ToString();
    var rodadanum = (int)ViewBag.RodadaNum;
}
<h2>@competicao - @rodada</h2>

<div id="resultados-tabela">
    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <table class="classificacao" cellpadding="0" cellspacing="0">
                <tr>
                    <th style="text-align: right;">
                        @item.Clube1.Nome
                    </th>
                    <th>
                        @item.Gol1
                    </th>
                    <th>
                        X
                    </th>
                    <th>
                        @item.Gol2
                    </th>
                    <th style="text-align: left;">
                        @item.Clube2.Nome
                    </th>
                    <th>
                        @item.Publico.ToString("N0")
                    </th>
                </tr>
                <tr>
                    <td colspan="2">
                        @foreach (var gol in item.Gols1)
                        {
                            @: @gol.Jogador.Nome @gol.Minuto'<br />
                        }
                    </td>
                    <td></td>
                    <td colspan="2">
                        @foreach (var gol in item.Gols2)
                        {
                            @: @gol.Jogador.Nome @gol.Minuto'<br />
                        }
                    </td>
                    <td></td>
                </tr>
            </table>
        }
    }
    else
    {
        <p>Nenhum resultado disponível.</p>
    }    

    @if (divisao > 0)
    {
        if (rodadanum > 1)
        { <a href="@Url.Action("Resultados", "Clube", new { divisao = divisao, rodada = rodada })" >Rodada anterior</a><text> -</text>  }
        if (rodadanum < 22)
        { <a href="@Url.Action("Resultados", "Clube", new { divisao = divisao, rodada = rodada })" >Próxima rodada</a> }
    }
    else
    {
        if (rodadanum < 16)
        { <a href="@Url.Action("Resultados", "Clube", new { taca = 1, rodada = (rodada * 2) })" >Fase anterior</a><text> -</text>  }
        if (rodadanum > 1)
        { <a href="@Url.Action("Resultados", "Clube", new { taca = 1, rodada = (rodada / 2) })" >Próxima fase</a> } 
    }
</div>

@{ Html.RenderPartial("_Menu", clube); }