@model EmpreendaVc.Domain.Divisao
@{
    ViewBag.Title = "Plantel";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lstdivisao = (List<EmpreendaVc.Domain.Divisao>)ViewBag.lstDivisao;
    var clube = (EmpreendaVc.Domain.Clube)ViewBag.Clube; 
}
<div id="classificacao-lista" class="caixa">
    <h1>Competições</h1>
    <a href="@Url.Action("Taca", "Clube")">TAÇA</a><br />
        @foreach (var divisao in lstdivisao)
        {
            if (divisao.Id == Model.Id)
            {
                <a><b>@divisao.Nome</b></a><br />
            }
            else
            {
                <a href="@Url.Action("Classificacao", "Clube", new { iddivisao = divisao.Id })" >@divisao.Nome</a><br />
            }
        }
</div>

<div id="classificacao-tabela">
    <h2>@Model.Nome
        <div class="legenda">
            <b>P</b> Pontos <b>J</b> Jogos <b>V</b> Vitórias <b>E</b> Empates <b>D</b> Derrotas
            <b>GP</b> Gols Pro<br />
            <b>GC</b> Gols Contra <b>SG</b> Saldo Gols <b>%</b> Aproveitamento
        </div>
    </h2>
    <table class="classificacao" cellpadding="0" cellspacing="0">
        <tr>
            <th width="36%">
                Clube
            </th>
            <th width="7%">
                P
            </th>
            <th width="7%">
                J
            </th>
            <th width="7%">
                V
            </th>
            <th width="7%">
                E
            </th>
            <th width="7%">
                D
            </th>
            <th width="7%">
                GP
            </th>
            <th width="7%">
                GC
            </th>
            <th width="7%">
                SG
            </th>
            <th width="7%">
                %
            </th>
        </tr>
        @{ var i = 1; }
        @foreach (var item in Model.DivisaoTabela.OrderBy(x => x.Posicao))
        {
            var margin = "margin-left: 15px;";
            if (i > 9) { margin = ""; }

            var style = "";
            if (clube.Id == item.Clube.Id) { style = "style=font-weight:bold;"; }
            else { style = ""; }

            var classe = "";
            if (i > 10) { classe = "class=rebaixa"; }
            else if (i < 3) { classe = "class=promove"; }
            else { classe = ""; }
            
            <tr @classe @style>
                <td style="text-align: left;">
                    <span style="font-weight: bold; font-size: 16px; margin: 10px; @margin">@(item.Posicao)</span>
                    <a @classe href="@Url.Action("Index", "Clube", new { id = item.Clube.Id })">@item.Clube.Nome</a>
                </td>
                <td>@item.Pontos
                </td>
                <td>@item.J
                </td>
                <td>@item.V
                </td>
                <td>@item.E
                </td>
                <td>@item.D
                </td>
                <td>@item.GP
                </td>
                <td>@item.GC
                </td>
                <td>@item.Saldo
                </td>
                <td>@item.Aproveitamento.ToString("N2")
                </td>
            </tr>
            i++;
        }
    </table>
</div>

@{ Html.RenderPartial("_Menu", clube); }