@model IEnumerable<EmpreendaVc.Domain.PatrocinioClube>
@using EmpreendaVc.Web.Mvc.Util
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>MEUS CONTRATOS</h2>
@{ Html.RenderAction("Index", "Mensagem"); }

<div id="left">
    <div id="patrocinio-tabela">
        <table class="classificacao" cellpadding="0" cellspacing="0">
            <tr>
                <th width="20%">
                    Nome
                </th>
                <th width="40%">
                    Tipo
                </th>
                <th width="20%">
                    Valor Anual
                </th>
                <th width="20%">
                    Contrato
                </th>
            </tr>
            @if (Model.Count() > 0)
            {

                foreach (var item in Model)
                {
                    <tr>
                        <td style="text-align: left;"><a href="@Url.Action("Index", "Patrocinio", new { id = item.Patrocinio.Id })">@item.Patrocinio.Nome.ToUpper()</a></td>
                        <td>@Util.RetornaPatrocinioClubeTipo(item.Tipo)</td>
                        <td>
                            $@item.Valor.ToString("N2")
                        </td>
                        <td>
                            @item.Contrato ano(s)
                        </td>
                    </tr>
                }

            }
            else
            {
                <tr>
                    <td colspan="4">
                        <i>Você não possui nenhum contrato de patrocínio.</i>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div id="right">
    <div id="patrocinio-lista" class="caixa">
        <h1>
            Opções</h1>
            <a href="@Url.Action("Busca", "Patrocinio")" >Buscar</a><br />
            <a><b>Meus contratos</b></a>
    </div>
    @{ Html.RenderAction("_Menu", "Clube"); }
</div>