@model EmpreendaVc.Domain.PatrocinioClube
@using EmpreendaVc.Web.Mvc.Util
@using MvcContrib
@using MvcContrib.FluentHtml
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controle = (EmpreendaVc.Domain.Controle)ViewBag.Controle;
}
<h2>
    NEGOCIAÇÃO: @Model.Patrocinio.Nome
</h2>
@{ Html.RenderAction("Index", "Mensagem"); }

<div id="jogador-valorproposta">
    @using (Html.BeginForm("PatrocinioOferta", "Patrocinio", new { idpatrocinio = Model.Patrocinio.Id }))
    {
        <p><b>ATENÇÃO</b>: Você irá negociar com @Model.Patrocinio.Nome, eles só escutarão três propostas suas.<br />
        As negociações serão encerradas até o próximo ano nos seguintes casos:<br />
            <ul>
                <li>Caso esgote as três ofertas</li>
                <li>Caso você CANCELE as negociações (independente de o contrato ter sido ACEITO ou REJEITADO)</li>
            </ul>            
        </p>
        <p>Interesse: @Util.RetornaPatrocinioTipo(Model.Patrocinio.Tipo)</p>

        <h3>Contrato proposto ao patrocinador</h3>
        if (Session["PatrocinioClube"] == null)
        {
            @:Tipo de Contrato: @this.Select("Tipo").Options(Util.RetornaPatrocinioListaTipo(Model.Patrocinio.Tipo)).FirstOption("Selecione").Selected(Model.Tipo != 0 ? Model.Tipo.ToString() : "")<br /><br />
            @:Valor Anual*: @this.Select("Valor").Options(Util.RetornaValorPatrocinio(controle.DiaMax)).FirstOption("Selecione").Selected(Model.Valor != 0 ? Model.Valor.ToString() : "")
            @:Duração do contrato: @this.Select("Contrato").Options(Util.RetornaDuracaoContratoPatrocinio()).FirstOption("Selecione").Selected(Model.Contrato != 0 ? Model.Contrato.ToString() : "")
            <br /><br />

            @:*Caso o ano já tenha começado você só receberá os meses restantes, não totalizando o valor total anual.
            <br /><br />
            <input id="btPropor" type="submit" class="submit" value="Propor" />   
        }
        else
        {
            var pc = (EmpreendaVc.Domain.PatrocinioClube)Session["PatrocinioClube"];
            @:Tipo de Contrato: @Util.RetornaPatrocinioClubeTipo(pc.Tipo)<br />
            @:Valor Anual: @pc.Valor.ToString("N2")<br />
            @:Duração do contrato: @pc.Contrato anos(s)
            <br /><br />

            @:*Caso o ano já tenha começado você só receberá os meses restantes, não totalizando o valor total anual.
            <br /><br />
            <input id="btConfirmar" type="submit" class="submit" value="Confirmar" />
        }             
        <a href="@Url.Action("PatrocinioOfertaCancelar", "Patrocinio", new { id = Model.Patrocinio.Id })" >Cancelar Negociações</a>
    }
</div>
