@model string

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        @if (!string.IsNullOrEmpty(Model))
        {
            @Model
        }
    </div>
    <div>
        
        <h3>Menu AI</h3>
        <a href="@Url.Action("FechaPatrocinios", "AI")">FechaPatrocinios</a><br />
        <a href="@Url.Action("RenovaContratos", "AI")">RenovaContratos</a><br />
        <a href="@Url.Action("ComprarJogador", "AI")">ComprarJogador</a><br />
        <a href="@Url.Action("DefinirSituacaoJogador", "AI")">DefinirSituacaoJogador</a><br />
        <a href="@Url.Action("ResponderPropostas", "AI")">ResponderPropostas</a><br />
    </div>
</body>
</html>
