@model EmpreendaVc.Web.Mvc.Controllers.ViewModels.JogadorFiltroView
@using EmpreendaVc.Web.Mvc.Util
@using MvcContrib
@using MvcContrib.FluentHtml
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var clube = (EmpreendaVc.Domain.Clube)ViewBag.Clube;
    var lst = (IList<EmpreendaVc.Domain.JogadorLeilao>)ViewBag.Resultado;
    var page = (int)ViewBag.Page;
    var olheiro = (bool)ViewBag.Olheiro;
}
<h2>
    Buscar Leilões</h2>
@{ Html.RenderAction("Index", "Mensagem"); }

@if (olheiro)
{
    using (Html.BeginForm())
    {
        Html.AntiForgeryToken();
        <div id="busca-filtro">
            Nome: @Html.TextBoxFor(x => x.Nome, new { size = 50 })
            Posição: @this.Select("Posicao").Options(Util.RetornaListaPosicao()).FirstOption("TODAS").Selected(Model.Posicao != 0 ? Model.Posicao.ToString() : "")
            Contrato: @this.Select("Contrato").Options(Util.RetornaListaContrato()).FirstOption("TODOS").Selected(Model.Contrato != 0 ? Model.Contrato.ToString() : "")<br />
            Situação: @this.Select("Situacao").Options(Util.RetornaListaSituacao()).FirstOption("TODAS").Selected(Model.Situacao != 0 ? Model.Situacao.ToString() : "") 
            Ordenar por: @this.Select("Ordenacao").Options(Util.RetornaListaOrdenacao()).Selected(Model.Ordenacao != 0 ? Model.Ordenacao.ToString() : "1")<br /><br />
            <input type="submit" class="submit" value="Buscar" />
        </div>
    }
}

<div id="left">
    <div id="jogador-tabela">
        <table class="classificacao" cellpadding="0" cellspacing="0">
            <tr>
                <th width="30%">JOGADOR</th>
                <th width="25%">CLUBE</th>
                <th width="10%">POSIÇÃO</th>
                <th width="10%">H</th>
                <th width="10%">JOGOS</th>
                <th width="10%">GOLS</th>
            </tr>
            @if (olheiro)
            {
                if (lst.Count() > 0)
                {
                    foreach (var item in lst)
                    {
                        <tr>
                            <td style="text-align: left;"><a href="@Url.Action("Index", "Jogador", new { id = item.Id })">@item.Jogador.Nome.ToUpper()</a></td>
                            <td>@if (item.Clube != null) {
                                    <a href=" + @Url.Action("Index", "Clube", new { id = item.Clube.Id }) + ">@item.Clube.Nome</a>
                                }
                                else
	                            {
                                    @:-
	                            }
                            </td>
                            <td>@Util.RetornaPosicao(item.Jogador.Posicao)</td>
                            <td>@item.Jogador.H
</td>
                            <td>@(item.Clube != null ? item.Jogador.Jogos.ToString() : "-")</td>
                            <td>@(item.Clube != null ? item.Jogador.Gols.Where(x => x.Clube.Id == item.Clube.Id).Count().ToString() : "-")</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6"><i>Nenhum jogador listado.</i></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6"><i>Você precisa <a href="@Url.Action("Busca", "Staff")">CONTRATAR</a> um olheiro para buscar jogadores.</i></td>
                </tr>
            }
        </table>
        @if (olheiro)
        {
            if (page > 1)
            {
                <a href="@Url.Action("Busca", "Leilao", new { p = (page - 1) })">Página anterior</a> 
                @:-
            }
            if (lst.Count() == 40)
            {
                <a href="@Url.Action("Busca", "Leilao", new { p = (page + 1) })">Próxima página</a>
            }
        }
    </div>
</div>

<div id="right">
    <div id="jogador-lista" class="caixa">
        <h1>
            Opções</h1>
        <a href="@Url.Action("Busca", "Jogador")">Buscar Jogadores</a><br />
        <a><b>Buscar Leilões</b></a><br />
        <a href="@Url.Action("MinhasPropostas", "Leilao")" >Minhas Propostas</a><br />
        <a href="@Url.Action("MeusJogadores", "Leilao")">Meus Leilões</a><br />
    </div>
    @{ Html.RenderAction("_Menu", "Clube"); }
</div>
