@model EmpreendaVc.Domain.Leilao
@using EmpreendaVc.Web.Mvc.Util
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Leilão </h2>
@{ Html.RenderAction("Index", "Mensagem"); }

<div id="leilao-detalhes">
 <table class="classificacao" cellpadding="0" cellspacing="0">
        <tr>
            <th>Jogador</th>
            <th>Clube</th>
            <th>Posição</th>
            <th>H</th>
            <th>Salário</th>
            <th>Valor</th>
        </tr>
        <tr>
            <td>@Model.Jogador.Nome</td>
            <td>@Model.Jogador.Clube.Nome</td>
            <td>@Util.RetornaPosicaoCompleta(Model.Jogador.Posicao)</td>
            <td>@Model.Jogador.H</td>
            <td>$@Model.Jogador.Salario.ToString("N2")</td>
            <td>$@Model.Valor.ToString("N2")</td>
        </tr>
    </table>
</div>
<div id="leilao-valorproposta">
    @using (Html.BeginForm("LeilaoOferta", "Leilao", new { idleilao = Model.Id }))
    {
        @: @{ Html.RenderAction("LeilaoOferta", "Leilao", new { idleilao = Model.Id }); }
    }
</div>

<a href="@Url.Action("Index", "Leilao")" >Voltar</a>