@model IEnumerable<EmpreendaVc.Domain.Leilao>
@using EmpreendaVc.Web.Mvc.Util
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var order = (int)ViewBag.Order;
}
@if (Model.Count() > 0)
{
    <table>
        <tr>
            <th width="30%">
                Nome
            </th>
            <th width="30%">
                Clube
            </th>
            <th width="15%">
                Divisão
            </th>
            <th width="5%">
                Posição
            </th>
            <th width="5%">
                H
            </th>
            <th width="10%">
                Valor
            </th>
            <th width="5%">
                Ação
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Jogador.Nome
                </td>
                <td>@item.Jogador.Clube.Nome
                </td>
                <td>@item.Jogador.Clube.Divisao.Nome
                </td>
                <td>@Util.RetornaPosicao(item.Jogador.Posicao)
                </td>
                <td>@item.Jogador.H
                </td>
                <td>
                    $@item.Valor.ToString("N2")
                </td>
                <td>
                    <a class="leilao-proposta" href="@Url.Action("Detalhe", "Leilao", new { id = item.Id })" title="Alterar Proposta">
                    </a><a class="leilao-cancelar" href="@Url.Action("CancelarOferta", "Leilao", new { id = item.Id })" title="Cancelar Proposta">
                    </a>
                </td>
            </tr>
        }
    </table>
}
else
{
    @:Você não efetuou nenhum oferta.
}