@model IEnumerable<EmpreendaVc.Domain.Leilao>
@using EmpreendaVc.Web.Mvc.Util
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var order = (int)ViewBag.Order;
    var clube = (EmpreendaVc.Domain.Clube)ViewBag.Clube; 
}
<h2>Leilão</h2>
<div id="leilao-tabela">
    <table class="classificacao" cellpadding="0" cellspacing="0">
        <tr>
            <th>
                @if (order == 0)
                { <a href="@Url.Action("Index", "Leilao", new { nome = 1 })">Nome</a> }
                else
                { <a href="@Url.Action("Index", "Leilao", new { nome = 0 })">Nome</a> }
            </th>
            <th>
                @if (order == 0)
                { <a href="@Url.Action("Index", "Leilao", new { clube = 1 })">Clube</a> }
                else
                { <a href="@Url.Action("Index", "Leilao", new { clube = 0 })">Clube</a> }
            </th>
            <th>
                @if (order == 0)
                { <a href="@Url.Action("Index", "Leilao", new { divisao = 1 })">Divisão</a> }
                else
                { <a href="@Url.Action("Index", "Leilao", new { divisao = 0 })">Divisão</a> }
            </th>
            <th>
                @if (order == 0)
                { <a href="@Url.Action("Index", "Leilao", new { posicao = 1 })">Posição</a> }
                else
                { <a href="@Url.Action("Index", "Leilao", new { posicao = 0 })">Posição</a> }
            </th>
            <th>
                @if (order == 0)
                { <a href="@Url.Action("Index", "Leilao", new { h = 1 })">H</a> }
                else
                { <a href="@Url.Action("Index", "Leilao", new { h = 0 })">H</a> }
            </th>
            <th>
                @if (order == 0)
                { <a href="@Url.Action("Index", "Leilao", new { valor = 1 })">Valor</a> }
                else
                { <a href="@Url.Action("Index", "Leilao", new { valor = 0 })">Valor</a> }
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Jogador.Nome</td>
                <td>@item.Jogador.Clube.Nome</td>
                <td>@item.Jogador.Clube.Divisao.Nome</td>
                <td>@Util.RetornaPosicao(item.Jogador.Posicao)</td>
                <td>@item.Jogador.H</td>
                <td>$@item.Valor.ToString("N2")</td>
                <td><a class="leilao-proposta" href="@Url.Action("Detalhe", "Leilao", new { id = item.Id })" title="Fazer Proposta"></a></td>
            </tr>
        }
    </table>
</div>

@{ Html.RenderPartial("_Menu", clube); }