@model EmpreendaVc.Domain.JogadorOferta
@using EmpreendaVc.Web.Mvc.Util
@using MvcContrib
@using MvcContrib.FluentHtml
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var clube = (EmpreendaVc.Domain.Clube)ViewBag.Clube;
}
<h2>
    Proposta por @Model.Jogador.Nome @(Model.Jogador.Clube != null ? "(" + Model.Jogador.Clube.Nome + ")" : "")
</h2>
@{ Html.RenderAction("Index", "Mensagem"); }

<table class="classificacao" cellpadding="0" cellspacing="0">
    <tr>
        <th width="33%">Posição</th>
        <th width="33%">Salário</th>
        <th width="33%">Contrato</th>
    </tr>
    <tr>
        <td>@Util.RetornaPosicaoCompleta(Model.Jogador.Posicao)</td>
        @if (Model.Jogador.Clube != null)
        {
            <td>$@Model.Jogador.Salario.ToString("N2")</td>
            <td>@Model.Jogador.Contrato ano(s)</td>
        }
        else
        {
            <td>-</td>
            <td>-</td>
        }
    </tr>
</table>

<div id="jogador-valorproposta">
    @using (Html.BeginForm("JogadorOferta", "Jogador", new { idjogador = Model.Jogador.Id }))
    {
        if (Model.Id != 0)
        {
            <p>
                Você já possui uma oferta no valor de $@Model.Valor.ToString("N2"). Se quiser cancelar clique 
                <a href="@Url.Action("CancelarOferta", "Jogador", new { id = Model.Id })">AQUI</a>.<br />
                Caso queira apenas alterar, faça uma nova proposta abaixo que a antiga será alterada.
            </p>
        }

        if (Model.Tipo == 1)
        {
            @:Tipo de Proposta: Proposta de Compra<br /><br />
            @:Valor: @this.Select("Valor").Options(Util.RetornaValorVenda(clube.Dinheiro)).FirstOption("Selecione").Selected(Model.Valor != 0 ? Model.Valor.ToString("N2") : "")
        }
        else if (Model.Tipo == 2)
        {
            @:Tipo de Proposta: Assinatura de contrato<br />
        }

        <h3>Contrato proposto ao jogador</h3>
        @:Salário ofertado: @this.Select("Salario").Options(Util.RetornaValorSalario()).FirstOption("Selecione").Selected(Model.Salario != 0 ? Model.Salario.ToString() : "")
        @:Duração do contrato: @this.Select("Contrato").Options(Util.RetornaDuracaoContrato()).FirstOption("Selecione").Selected(Model.Contrato != 0 ? Model.Contrato.ToString() : "")<br /><br />
        <input type="submit" class="submit" value="Confirmar" />
        <a href="@Url.Action("Index", "Jogador", new { id = Model.Jogador.Id })" >Voltar</a>
    }
</div>
