@model IEnumerable<EmpreendaVc.Domain.JogadorOferta>
@using EmpreendaVc.Web.Mvc.Util
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Minhas Propostas</h2>
    @{ Html.RenderAction("Index", "Mensagem"); }
<div id="jogador-lista" class="caixa">
    <h1>
        Opções</h1>
        <a href="@Url.Action("Busca", "Jogador")">Buscar</a><br />
        <a><b>Minhas Propostas</b></a><br />
    <a href="@Url.Action("MeusJogadores", "Jogador")">Propostas Recebidas</a><br />
</div>
<div id="jogador-tabela">
    <table class="classificacao" cellpadding="0" cellspacing="0">
        <tr>
            <th width="30%">
                Nome
            </th>
            <th width="30%">
                Clube
            </th>
            <th width="10%">
                Valor
            </th>
            <th width="5%">
                Ação
            </th>
        </tr>
        @if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td style="text-align: left;"><a href="@Url.Action("Index", "Jogador", new { id = item.Jogador.Id })">@item.Jogador.Nome.ToUpper()</a></td>
                    <td>@item.Jogador.Clube.Nome
                    </td>
                    <td>
                        $@item.Valor.ToString("N2")
                    </td>
                    <td>
                        <a class="jogador-proposta" href="@Url.Action("JogadorOferta", "Jogador", new { id = item.Jogador.Id })" title="Alterar Proposta">
                        </a><a class="jogador-cancelar" href="@Url.Action("CancelarOferta", "Leilao", new { id = item.Id })" title="Cancelar Proposta">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="7" style="text-align: right;">
                        <b>Situação:</b> <i>@Util.RetornaEstagio(item.Estagio, item.Tipo)</i>
                    </td>
                </tr>
            }

        }
        else
        {
            <tr>
                <td colspan="7">
                    Você não efetuou nenhuma proposta.
                </td>
            </tr>
        }
    </table>
</div>
